  <div class="backdrop" (click)="close.emit()"></div>
  <div class="form__container">
    <form class="card" [formGroup]="form" (ngSubmit)="submit()">
      <h2>Add your own recipe</h2>

      <div class="form-control">
        <label>Name of a meal</label>
        <input type="text" placeholder="name" formControlName="name">
      </div>

      <div class="ingredients" formGroupName="ingredients">
        <h3>Your ingredients</h3>
        <button class="btn add" type="button" (click)="addIngredients()">Add ingredient</button>
        <div
        class="form-control"
        *ngFor="let control of formData.controls; let idx = index"
      ><div [formGroupName]="idx">

          <label class="label_ingredient">Ingredient {{idx + 1}} </label>
          <input type="text"  formControlName="ingredient" placeholder="ingredient">...<input type="text" formControlName="measure" placeholder="mesure">
      </div>
      </div>
    </div>

    <div class="form-control">
      <label>Instructions</label>
      <input type="text" placeholder="instructions" formControlName="instructions">
    </div>

      <div class="btn__block">
        <button class="btn" type="submit" [disabled]="form.invalid || form.pending">Отправить</button>
        <button class="btn clear" (click)="clearForm()" type="button">clear form </button>
        <button class="btn__close" (click)="close.emit()">close</button>
      </div>

    </form>
  </div>
