
<div class="home__container"  >
  <div class="title">
    <img src="../../assets/pngwing.com.png" alt="">
    <h2>Recipec around the World</h2>
  </div>
  <div class="links">

  <a class="item" routerLink="/categories">
      <h3>category</h3>
    </a>
    <a class="item" routerLink="/areas">
      <h3>area</h3>
    </a>
    <a class="item" routerLink="/my_recipes">
      <h3>ingredients</h3>
    </a>
    <a class="item" (click)="showRandomRecipe()">
      <h3>random recipe</h3>
    </a>
  </div>
</div>
